/* table {
			        table-layout: fixed;
			        word-wrap: break-word;
			}

		        table th, table td {
		            overflow: hidden;
		        }*/
		       .col-md-12,.col-sm-12,.col-xs-12{padding-right:5px !important;padding-left:5px !important;}
			body{font-family:'Mandali',Verdana,sans-serif; !important;font-size: 14px;line-height: 22px;}
			.bg-color{background-image: linear-gradient(#e4f3fe,#FAFAFA,#e4f3fe);}
			.bg-color>td{font-size:18px;}
			.menu{text-align: right;width: 100%;padding:5px;margin-bottom: 0px;}
			.menu>li{display:inline-block;list-style: none;}
			.menu>li>a{padding: 0px 0px 1px 20px;color: #17479e !important;font-weight: bold;text-shadow: none;font-size: 15px;}
			.menu>li>a:hover{color:#fff !important;}
			.tb-megamenu-nav>li{display:inline-block;list-style: none;}
			.tb-megamenu-nav>li>a{color:#fff !important;font-family: 'Mandali',Gautami,Pothana,sans-serif;font-size: 18px !important;font-weight: normal;padding: 5px 15px !important;padding-top: 10px !important;}
			.tb-megamenu-nav>li>a:hover{color:#000 !important;}
			.tb-megamenu-nav>.active{background-color:#fff !important;}
			.tb-megamenu-nav>.active>a{color:#000 !important;}
			#election_footer{background-color:#0C4471;padding:5px;}
			#election_footer>span{color:#fff;text-align:center;margin:0;}
			legend{padding:6px 0px;}
			a{font-size:16px !important;}
			p{text-align: justify !important;font-size:16px;line-height: 1.8em;color:#333;text-shadow: 0px 0px 0px #c3c3c3;}
			.first_letter>p:first-of-type:first-letter { font-weight: bold; font-size:30px;color:#C62828 !important;}
			.margin-bottom{margin-bottom:20px;}
			.right,.left{background-image:none !important;}
			.photo_para>p{text-align:center !important;font-size:16px;font-weight:bold;}
			.photo_para>p:nth-of-type(2){color:#069;}
			.photo_para>p:nth-of-type(3){color: #ca2828;}

			.prev_heading{background-color:#FFEBEE;}
			.prev_heading:nth-of-type(2){background-color:#E3F2FD;}
			.highlight_heading,.prev_heading > td > a {color:#C62828 !important;font-weight:bold;font-size:18px !important;}
			.highlight_heading:hover,.prev_heading > td > a:hover{color:#069 !important;}
			.highlight_heading::after,.prev_heading > td > a::after{content: url("../images/hand.gif");margin-bottom:-10px;position:relative;top:3px;left:2px;}
			a{color:#444 !important;}
			a:hover{color:#eb6a14 !important;}
			.hyper_link{color:#C62828 !important;font-weight:bold;font-size:18px !important;}
			.red_color{background-color:#FFEBEE;}
			/* Map Css */
			path{stroke:rgb(110, 110, 110) !important;stroke-width:1 !important;}
			path:hover{fill:#069;stroke:red;cursor:pointer !important;box-shadow: 6px 4px 10px 10px #888888;-webkit-box-shadow: 6px 4px 10px 10px #888888;-moz-box-shadow: 6px 4px 10px 10px #888888;cursor:pointer;}
			text{font-family:Helvetica, Arial, sans-serif !important;}
			
			/* #svg{box-shadow: 0px 0px 10px #888888;-web-box-shadow: 0px 0px 10px #888888;-moz-box-shadow: 0px 0px 10px #888888;margin-bottom:20px;} 
			.img-border>a>img{box-shadow: 0px 0px 10px #888888;-web-box-shadow: 0px 0px 10px #888888;-moz-box-shadow: 0px 0px 10px #888888;padding:10px;} */
			svg{width:100%;height:auto;}
			#mapDiv{position:absolute;height:auto;background-color:#f74748;text-align:center;padding:10px;opacity:0.9;display: none;border-radius:5px;border:0.5px solid red;}
			#mapDiv::after{content:"";position: absolute;top: 100%; left: 50%;margin-left: -10px;margin-top:-2px;border-width: 10px;border-style: solid; border-color: #f74748 transparent transparent transparent;}
			.main_container{box-shadow: 0px 0px 5px #888888;-webkit-box-shadow: 0px 0px 5px  #888888;-moz-box-shadow: 0px 0px 5px #888888;}
			p{text-align:justify;}
			.well{background-image: linear-gradient(#e4f3fe,#FAFAFA,#e4f3fe);background-color:#fff !important;box-shadow: 2px 4px 5px #888888;-webkit-box-shadow: 2px 4px 5px  #888888;-moz-box-shadow: 2px 4px 5px #888888;border:1px solid grey;margin-top:-10px !important;padding:5px !important;}
			legend{color:#444;text-shadow: 0px 0.2px 0.5px #333;border-bottom:3px solid #eb6a14;font-size:20px !important;margin-bottom:5px !important;}

			.container-fluid{padding-right:1px !important;padding-left:1px !important;}
			#election_table>div>table>tbody>tr>th{width:20% !important;}
			.t-yellow{background-color:#B3E5FC;background-image: linear-gradient(#ddddff,#c992e0);}
			.t-red{background-color:#E1F5FE;    background-image: linear-gradient(#f5cdcd,#e8e8b1);}
			.width-5>tbody>tr>th{width:40%;font-size:14px;}
			.width-5>tbody>tr>tr{font-size:14px;}
	
			.wordwrap{word-wrap: break-word;border:1px solid #069;border-radius:10px;margin:10px 0px;}
			input,label,select{margin:5px 0px;}
			/*  #thead th{text-align:center;}
			#thead th,#tbody td{width:5%;}
			table #tbody, table #thead{display: block;}
			table #tbody{overflow: auto;height: 800px;}*/
			a{text-decoration:none !important;cursor:pointer !important;}
		

			@media screen and (max-width:970px){
				.top_header{display:none !important;}
				.tb-megamenu-nav{white-space: nowrap;overflow: auto;}

			}

			@media and (max-width:570px){
				.headingStyle{border-bottom:1px solid #000;padding:10px 0px;}

			}
			.bgimg{background: url(<?php echo base_url('assets/images/bg.jpg');?>);background-repeat: no-repeat;background-size: cover;}
#MapDiv{position:absolute;top:0;left:50;width:300px;height:auto;background-color:#fff;border:1px solid #ddd;display:none;border:1px solid #000 !important;}
	#MapDiv>table{max-width:300px;}
	#close{position: absolute;right:0px;top:0px;border:1px solid #000;padding:5px;font-weight:bold;background-color: #C62828;color:#fff !important;}
	.tb-ap,.tb-ap>thead>tr>td,.tb-ap>tbody>tr>td,.tb-ap>tbody>tr>th,.tb-ap>tbody>tr>th{border:1px solid #fff !important;text-align:left !important;}
	.tb-ap{margin-bottom:0px !important;}
	.graphHead{font-weight:bold;}
	#moreLink>a{right:0;bottom:0;color:#ed1e24 !important;font-size:14px !important;position:relative;}
	.ap_img_div{position:absolute;bottom:75px;right:0;}
		@media screen and (min-width:970px)
		{
			.ap_img_div>img{width:150px;}
		}
		@media screen and (max-width:970px)
		{
			.ap_img_div>img{width:150px;}
		}
		@media screen and (max-width:760px)
		{
			.ap_img_div>img{width:75px;}
		}
		.container{background-color:#fff !important;}
		.bg-white-shadow{background-color:#fff !important;border:1px solid #ddd;box-shadow:inset 0px 0px 4px #ccc;}
		.bg-white{background-color:#fff !important;}
		.margin-top-20{margin-top:20px !important;}
		.margin-top-10{margin-top:10px !important;}
		.manual-carousel-control{top:10px !important;bottom:auto !important;opacity:.8 !important;color:#fff !important;}
	.manual-carousel-control>.glyphicon-chevron-left::before{content:"\21E6" !important;font-size:30px;}
	.manual-carousel-control>.glyphicon-chevron-right::before{content:"\21E8" !important;font-size:30px;}
	.bg-color-red{background-color:#b71c1c;font-size: 16px;color:#fff;}
	.border-red{border:3px solid #b71c1c !important;border-radius:4px}
	.bg-color-blue{background-color:#3f51b5;font-size: 16px;color:#fff;}	
	.border-blue{border:3px solid #3f51b5 !important;border-radius:4px}
	.bg-color-orange{background-color:#af750b;font-size: 16px;color:#fff;}	
	.border-orange{border:3px solid #af750b !important;border-radius:4px}
	.bg-color-orange{background-color:#bf360c;font-size: 16px;color:#fff;}	
	.border-orange{border:3px solid #bf360c !important;border-radius:4px}
	.bg-color-purple{background-color:#673ab7;font-size: 16px;color:#fff;}	
	.border-purple{border:3px solid #673ab7 !important;border-radius:4px}
	.bg-color-green{background-color:#009688;font-size: 16px;color:#fff;}	
	.border-green{border:3px solid #009688 !important;border-radius:4px}
	.bg-color-grey{background-color:#607d8b;font-size: 16px;color:#fff;}	
	.border-grey{border:3px solid #607d8b !important;border-radius:4px}
	.bg-color-pink{background-color:#e91e63;font-size: 16px;color:#fff;}	
	.border-pink{border:3px solid #e91e63 !important;border-radius:4px;}
	.mob-margin-top{margin-top:-10px;}
	@media screen and (max-width: 970px)
	{
		.mob-margin-top{margin-top:10px;}
	}

	.div_border_green{/*border:3px solid #8eb77d !important*/;padding:10px;}
         
         .div_border_green>div>div{padding:8px;border:1px solid #ddd;}
         .div_border_green>div>div:nth-child(odd){font-weight:bold}
         .legend_heading{margin-bottom:0px !important; background-color:#8eb77d;padding: 5px 10px;color:#fff;font-weight:normal;border:none !important;}